In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import glob

In [2]:
DFrameArray = []
FileNames = []

def OneDataFrame():
    
    for f in glob.glob('Data/*xlsx'):
        df = pd.read_excel(f,sheet_name='Calificaciones')
        DFrameArray.append(df)
        FileNames.append(f)
        
    dft = pd.concat(DFrameArray, ignore_index = 'True')
    
    return dft

In [3]:
DFrameArray.append(OneDataFrame())

In [10]:
DFrameArray[4].tail(20)

           ID           LastName        FirstName  FinalGrade
51  202116780     Sanchez Moreno       Juan Pablo        2.62
52  202121738      Alonso Pinzon  Daniel Fernando        4.25
53  201914288      Romero Torres     Sergio Tomas        2.00
54  202011188  Rodriguez Gongora      Laura Sofia        2.75
55  202011546       Bernal Rojas     Diego Alonso        4.25
56  202013980    Romero Martinez      Maria Paula        5.00
57  202020655   Balaguera Molano         Gabriela        2.75
58  202022716         Roa Rativa      Oscar David        2.25
59  202110918     Burgos Jimenez  Maria Alejandra        2.00
60  202111593        Gomez Nieto   Carlos Horacio        3.62
61  202111909        Lopez Ceron          Manuela        3.75
62  202112277      Navas Lombana    Julian Andres        3.75
63  202112630      Puentes Rivas      Edwin Jesus        3.62
64  202113168    Torralvo Garcia     Juan Esteban        4.37
65  202113916     Rubiano Castro    Karem Johanna        3.62
66  202122094    Cardone Ramirez       Mariangela        2.87
67  202122384    Escalante Perez           Daniel        4.37
68  202123644     Salcedo Galvez           Martin        2.62
69  202123714     Serrano Mugica           Felipe        4.25
70  202123910       Vasquez Toro            Sofia        2.37

In [11]:
# Agregar una columna
DFrameArray[4] = DFrameArray[4].assign(FinalGradeNorm = DFrameArray[4].FinalGrade*100/5.)

In [14]:
#DFrameArray[4].head(30)
DFrameArray[4].count()

ID                71
LastName          71
FirstName         71
FinalGrade        71
FinalGradeNorm    71
dtype: int64

In [15]:
# Guardar un indice con una caracteristica
iid = DFrameArray[4].LastName.isin( ['Gonzalez Corredor'] )
print(DFrameArray[4].loc[iid])

           ID           LastName FirstName  FinalGrade  FinalGradeNorm
19  202015128  Gonzalez Corredor  Santiago         1.0            20.0

In [16]:
# DataFrame Ordenado
dfid = pd.read_excel('ID.xlsx', sheet_name='Calificaciones')
idarray = np.array(dfid.ID)

In [23]:
DF = pd.DataFrame(columns = ['ID','LastName','FirstName','FinalGrade'])
DF

Empty DataFrame
Columns: [ID, LastName, FirstName, FinalGrade]
Index: []

In [24]:
# Ordenar la informacion

for i in range(len(idarray)):
    DF = DF.append( DFrameArray[4].loc[  DFrameArray[4].isin( [idarray[i]] ).any(axis=1)  ], ignore_index=True )
    
print(DF)

           ID           LastName        FirstName  FinalGrade  FinalGradeNorm
0   202121453              Acuña       Juan Diego        3.37            67.4
1   202116521      Agudelo Novoa     Oscar Andres        1.75            35.0
2   202122174      Cepeda Pulido         Gabriela        3.37            67.4
3   202015128  Gonzalez Corredor         Santiago        1.00            20.0
4   202121652    Gutierrez Mejia     Maria Camila        2.00            40.0
..        ...                ...              ...         ...             ...
66  202011188  Rodriguez Gongora      Laura Sofia        2.75            55.0
67  201914288      Romero Torres     Sergio Tomas        2.00            40.0
68  202113916     Rubiano Castro    Karem Johanna        3.62            72.4
69  202113168    Torralvo Garcia     Juan Esteban        4.37            87.4
70  202113281    Vanegas Quijano  Eduardo Enrique        4.25            85.0

[71 rows x 5 columns]

In [26]:
output = pd.ExcelWriter('SortedGrades.xlsx')
DF.to_excel(output,'Calificaciones')
output.save()